#### Step1: Create the dataframe and Display the content of the dataframe. (from json file):

In [1]:
from pyspark.sql import *
sqlContext = SQLContext(sc)
sqlContext

In [3]:
df = sqlContext.read.json("file:/home/cloudera/training_materials/data/userdetails.json")
df.show()

+--------------------+--------------------+----------+------+---+---------------+---------+---------------+----------+
|                city|               email|first_name|gender| id|     ip_address|last_name|           race| timestamp|
+--------------------+--------------------+----------+------+---+---------------+---------+---------------+----------+
|               Miami|   wbell0@tumblr.com|     Wayne|  Male|  1| 77.152.229.131|     Bell|    Costa Rican|1463468947|
|              Xiejia|   aallen1@state.gov|   Anthony|  Male|  2|  62.49.195.170|    Allen|       Comanche|1447538277|
|            Illintsi|ehenderson2@thegu...|      Eric|  Male|  3| 136.129.71.231|Henderson|       Comanche|1476462811|
|           Tugusirna|  jsmith3@spiegel.de|     Jimmy|  Male|  4|117.176.172.187|    Smith|Native Hawaiian|1445804900|
|           Nasīrābād|dwheeler4@vkontak...|     Diana|Female|  5|119.222.120.140|  Wheeler|         Lumbee|1460377451|
|             Pousada|      khall5@pbs.org|     Karen|Female|  6|   9.111.177.81|     Hall|     Polynesian|1450344798|
|              Évreux| prodriguez6@wsj.com|    Philip|  Male|  7|  202.53.81.233|Rodriguez|      Malaysian|1459998561|
|              Vihāri|    abryant7@com.com|    Ashley|Female|  8|163.245.127.162|   Bryant|         Lumbee|1445570397|
|            Magnitka|    ngrant8@nasa.gov|     Norma|Female|  9| 43.133.191.129|    Grant|     Sri Lankan|1462939469|
|               Keffi|    hlewis9@ucsd.edu|     Helen|Female| 10| 74.149.202.229|    Lewis|     Salvadoran|1474416280|
|        Волочаевское| lmccoya@jiathis.com|     Larry|  Male| 11|   36.136.37.15|    Mccoy|     Venezuelan|1474672688|
|             Madison|  ewoodb@youtube.com|     Emily|Female| 12|  7.239.252.142|     Wood|       Peruvian|1478199845|
|             Cicheng|palvarezc@delicio...|   Patrick|  Male| 13|  184.86.19.219|  Alvarez|          Yuman|1443691208|
|          Xiaomenjia| ebowmand@usnews.com|    Eugene|  Male| 14| 173.159.51.207|   Bowman|      Chickasaw|1452109688|
|               Boaco|   pwrighte@furl.net|   Phyllis|Female| 15|159.165.133.224|   Wright|   Puerto Rican|1441154207|
|             Iturama|      rrosef@cmu.edu|       Roy|  Male| 16|  52.205.107.86|     Rose|      Pakistani|1463401327|
|             Tochigi|ahunterg@acquiret...|    Albert|  Male| 17| 21.237.126.164|   Hunter|    Costa Rican|1457692077|
|Petite Rivière de...|ahowardh@guardian...|   Antonio|  Male| 18|111.107.201.180|   Howard|      Pakistani|1444392400|
|         Zaliznychne|rstonei@macromedi...|    Robert|  Male| 19| 189.196.30.146|    Stone|         Ottawa|1458466303|
|          Sukahening|dcrawfordj@netsca...|   Dorothy|Female| 20|  146.5.243.193| Crawford|      Menominee|1463590952|
+--------------------+--------------------+----------+------+---+---------------+---------+---------------+----------+
only showing top 20 rows

#### Step 2: Print the schema in a  tree format.

In [4]:
df.printSchema()

root
 |-- city: string (nullable = true)
 |-- email: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- id: long (nullable = true)
 |-- ip_address: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- race: string (nullable = true)
 |-- timestamp: string (nullable = true)

#### Step 3: Select only the first_name column.

In [5]:
df.select("first_name").show()

+----------+
|first_name|
+----------+
|     Wayne|
|   Anthony|
|      Eric|
|     Jimmy|
|     Diana|
|     Karen|
|    Philip|
|    Ashley|
|     Norma|
|     Helen|
|     Larry|
|     Emily|
|   Patrick|
|    Eugene|
|   Phyllis|
|       Roy|
|    Albert|
|   Antonio|
|    Robert|
|   Dorothy|
+----------+
only showing top 20 rows

#### Step 4: Select the  people whose id is greater than 10.

In [6]:
 df.filter(df['id'] > 10).show()

+--------------------+--------------------+----------+------+---+---------------+----------+--------------------+----------+
|                city|               email|first_name|gender| id|     ip_address| last_name|                race| timestamp|
+--------------------+--------------------+----------+------+---+---------------+----------+--------------------+----------+
|        Волочаевское| lmccoya@jiathis.com|     Larry|  Male| 11|   36.136.37.15|     Mccoy|          Venezuelan|1474672688|
|             Madison|  ewoodb@youtube.com|     Emily|Female| 12|  7.239.252.142|      Wood|            Peruvian|1478199845|
|             Cicheng|palvarezc@delicio...|   Patrick|  Male| 13|  184.86.19.219|   Alvarez|               Yuman|1443691208|
|          Xiaomenjia| ebowmand@usnews.com|    Eugene|  Male| 14| 173.159.51.207|    Bowman|           Chickasaw|1452109688|
|               Boaco|   pwrighte@furl.net|   Phyllis|Female| 15|159.165.133.224|    Wright|        Puerto Rican|1441154207|
|             Iturama|      rrosef@cmu.edu|       Roy|  Male| 16|  52.205.107.86|      Rose|           Pakistani|1463401327|
|             Tochigi|ahunterg@acquiret...|    Albert|  Male| 17| 21.237.126.164|    Hunter|         Costa Rican|1457692077|
|Petite Rivière de...|ahowardh@guardian...|   Antonio|  Male| 18|111.107.201.180|    Howard|           Pakistani|1444392400|
|         Zaliznychne|rstonei@macromedi...|    Robert|  Male| 19| 189.196.30.146|     Stone|              Ottawa|1458466303|
|          Sukahening|dcrawfordj@netsca...|   Dorothy|Female| 20|  146.5.243.193|  Crawford|           Menominee|1463590952|
|            Majagual|   rmedinak@sohu.com|      Ryan|  Male| 21|   3.173.50.127|    Medina|Native Hawaiian a...|1460218114|
|             Coolock|   kleel@spotify.com|  Kathleen|Female| 22|233.226.131.220|       Lee|          Venezuelan|1464451811|
|             Rentian|    cbanksm@noaa.gov|    Cheryl|Female| 23|  50.110.19.199|     Banks|             Chilean|1459308539|
|           Ush-Tyube|sblackn@mayoclini...|     Sarah|Female| 24| 42.255.213.157|     Black|American Indian a...|1444690946|
|            Kréstena| pcarrollo@ocn.ne.jp|    Philip|  Male| 25|  137.96.107.85|   Carroll|             Laotian|1445796577|
|             Jingmen|rwilliamsp@zdnet.com|      Ruth|Female| 26| 213.223.207.40|  Williams|            Colville|1476681413|
|            Tagnanan|  lchavezq@opera.com|    Louise|Female| 27| 132.53.227.238|    Chavez|            Chippewa|1458453221|
|             Kłoczew|smontgomeryr@fc2.com|    Sandra|Female| 28| 206.174.43.114|Montgomery|               Cuban|1472327746|
|     Ramon Magsaysay|dmillers@theatlan...|     Doris|Female| 29|  93.134.101.63|    Miller|               Kiowa|1462628012|
|               Sebba|hnicholst@science...|    Howard|  Male| 30| 33.119.131.132|   Nichols|          Polynesian|1465177178|
+--------------------+--------------------+----------+------+---+---------------+----------+--------------------+----------+
only showing top 20 rows

#### Step 5: Count the people by gender.

In [7]:
 df.groupBy("gender").count().show()

+------+-----+
|gender|count|
+------+-----+
|Female|  507|
|  Male|  493|
+------+-----+