#### Step 1: Load the movies.avro file in memory

In [1]:
!hdfs dfs -put /home/cloudera/db_pune/training_materials/data/movies.avro /user/cloudera

#### Step 2: Create SQL Context

In [4]:
from pyspark.sql import SQLContext
sql_context = SQLContext(sc)

#### Step 3: Create a dataframe from the file

In [7]:

df = sql_context.read.format("com.databricks.spark.avro").load("/user/cloudera/movies.avro")

#### Step 4: Verify Column header for  the file

In [9]:
df.show()

+---+--------------------+--------------------+
| id|                name|               genre|
+---+--------------------+--------------------+
|  1|    Toy Story (1995)|Animation|Childre...|
|  2|      Jumanji (1995)|Adventure|Childre...|
|  3|Grumpier Old Men ...|      Comedy|Romance|
|  4|Waiting to Exhale...|        Comedy|Drama|
|  5|Father of the Bri...|              Comedy|
|  6|         Heat (1995)|Action|Crime|Thri...|
|  7|      Sabrina (1995)|      Comedy|Romance|
|  8| Tom and Huck (1995)|Adventure|Children's|
|  9| Sudden Death (1995)|              Action|
| 10|    GoldenEye (1995)|Action|Adventure|...|
| 11|American Presiden...|Comedy|Drama|Romance|
| 12|Dracula: Dead and...|       Comedy|Horror|
| 13|        Balto (1995)|Animation|Children's|
| 14|        Nixon (1995)|               Drama|
| 15|Cutthroat Island ...|Action|Adventure|...|
| 16|       Casino (1995)|      Drama|Thriller|
| 17|Sense and Sensibi...|       Drama|Romance|
| 18|   Four Rooms (1995)|            Thriller|
| 19|Ace Ventura: When...|              Comedy|
| 20|  Money Train (1995)|              Action|
+---+--------------------+--------------------+
only showing top 20 rows

#### Step 5: Print the first 5 rows of the dataframe

In [12]:
df.columns

['id', 'name', 'genre']

#### Step 6: Sort the movies based on alphabetical order

In [14]:
df.select("name").sort("name").show()

+--------------------+
|                name|
+--------------------+
|$1000000 Duck (1971)|
|'Night Mother (1986)|
|'Til There Was Yo...|
|   'burbs The (1989)|
|...And Justice fo...|
|        1-900 (1994)|
|10 Things I Hate ...|
|101 Dalmatians (1...|
|101 Dalmatians (1...|
| 12 Angry Men (1957)|
|13th Warrior The ...|
|          187 (1997)|
|2 Days in the Val...|
|     20 Dates (1998)|
|200 Cigarettes (1...|
|20000 Leagues Und...|
|2001: A Space Ody...|
|         2010 (1984)|
|24 7: Twenty Four...|
|24-hour Woman (1998)|
+--------------------+
only showing top 20 rows

#### Step 7: Write the output in parquet format

In [15]:
df.saveAsParquetFile("/user/cloudera/movies.parquet")

/usr/lib/spark/python/pyspark/sql/dataframe.py:121: UserWarning: saveAsParquetFile is deprecated. Use write.parquet() instead.
  warnings.warn("saveAsParquetFile is deprecated. Use write.parquet() instead.")

#### Step 8: Review the content of the new parquet file

In [16]:
!hdfs dfs -ls /user/cloudera/movies.parquet

Found 5 items
-rw-r--r--   1 cloudera cloudera          0 2017-03-29 03:01 /user/cloudera/movies.parquet/_SUCCESS
-rw-r--r--   1 cloudera cloudera        395 2017-03-29 03:01 /user/cloudera/movies.parquet/_common_metadata
-rw-r--r--   1 cloudera cloudera       1167 2017-03-29 03:01 /user/cloudera/movies.parquet/_metadata
-rw-r--r--   1 cloudera cloudera      44368 2017-03-29 03:01 /user/cloudera/movies.parquet/part-r-00000-31e5a451-a0f1-4953-a434-b796fbb018e2.gz.parquet
-rw-r--r--   1 cloudera cloudera      14447 2017-03-29 03:01 /user/cloudera/movies.parquet/part-r-00001-31e5a451-a0f1-4953-a434-b796fbb018e2.gz.parquet